# Ruta al archivo JSON de credenciales del Service Account de Google
GOOGLE_APPLICATION_CREDENTIALS=/Users/gabriellozano/Desktop/Kavak Capital Service Account.json

# Proyecto de BigQuery
BQ_PROJECT=botmaker-bigdata

# Dataset
BQ_DATASET=ext_metric_kavakcapital
